@charset "UTF-8";
@media all and (max-width: 767px){
	.wrap{
		width: 100%;
		min-width: 320px;
	}
	section{
		margin-top: 120px;
	}
	section .d_menu ul{
		margin: 3% 90px 3% 0;
	}
	section .d_menu ul:nth-child(2){
		margin: 3% 0 3% 90px;
	}
	section .d_menu ul li{
		font-size:24px;
	}
	section h1{
		font-size: 36px;
	}
	section .p_info{
		width: 40%;
		float: left;
		margin: calc((100% - 1100px) / 8);
	}
	section .p_info .img_box{
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
	section .p_info .img_box img{
		width: 100%;
		height: auto;
	}
}