@charset "UTF-8";
*{margin:0; padding:0;}
.wrap{
	margin: 0 auto;
	position: relative;
}
section{
	width: 100%;
	text-align: center;
	background-color: rgb(221, 245, 253);
}
section .d_menu{
	width: 100%;
}
section .d_menu ul{
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section .d_menu ul li{
	list-style: none;
	flex: 4;
}
section .d_menu ul li:nth-child(2n){
	flex: 1;
}
section h1{
	font-size: 36px;
	margin-bottom: 30px;
}
section .p_info{
	width: 275px;
	height: 350px;
	float: left;
	margin: calc((100% - 1100px) / 8);
}
section .p_info .img_box{
	width: 280px;
	height: 280px;
}
section .p_info .img_box img{
	width: 100%;
	height: 100%;
}