@charset "UTF-8";
@media screen and (min-width: 768px) {
	.wrap{
		max-width: 1600px;
	}
	section{
		margin-top: 80px;
	}
	section .MOST img{
		width: 80%;
	}
	section h1{
		margin: 40px;
	}
	section .img_box{
		width:100%;
		display: flex;
		justify-content: space-between;
     	align-items: center;
	}
	section .img_box .img{
		width: 84%;
		margin: 2%;
	}
	section .img_box a img{
		flex: 1;
	}
	section .img_box a p{
		font-size: 24px;
	}
	
}