@charset "UTF-8";
*{margin:0; padding:0;}
.wrap{
	width: 90%;
	margin:0 auto;
}
section{
	width: 100%;
	text-align: center;
}
section .MOST{
	width:100%;
	display:flex;
	justify-content:center;
}
section h1{
	font-size: 5vw;
}

section .img_box a img{
	width: 100%;
	cursor: pointer;
	border-radius: 50%;
}
section .img_box a p{
	cursor: pointer;
}